In [30]:
import sqlite3
import pandas as pd
import json

cnx = sqlite3.connect('./game.0802.db')

In [48]:
df = pd.read_sql_query("SELECT * FROM games", cnx)

In [35]:
game_df = df = pd.read_sql_query("SELECT * FROM game_results", cnx)

In [94]:
df

,game_id,save_id,game,status,createtime,size
0,g6e440e4d7b2f,0,"{""id"":""g6e440e4d7b2f"",""players"":[{""name"":""二狗"",...",finished,2021-06-15 00:18:10,48513
1,g475fd9da11b5,143,"{""id"":""g475fd9da11b5"",""players"":[{""name"":""吴"",""...",finished,2021-06-15 00:23:54,126332
2,g37a6ba3a22a8,185,"{""id"":""g37a6ba3a22a8"",""players"":[{""name"":""鹏"",""...",finished,2021-06-15 00:24:11,197058
3,g1cb6ed5e244e,181,"{""id"":""g1cb6ed5e244e"",""players"":[{""name"":""厂长"",...",finished,2021-06-15 01:04:21,172747
4,g341c5216b1bb,229,"{""id"":""g341c5216b1bb"",""players"":[{""name"":""lmw""...",finished,2021-06-15 01:37:53,234014
...,...,...,...,...,...,...
7131,g79e9e26e4aa3,29,"{""id"":""g79e9e26e4aa3"",""players"":[{""name"":""You""...",running,2021-08-02 09:56:37,61681
7132,g79e9e26e4aa3,30,"{""id"":""g79e9e26e4aa3"",""players"":[{""name"":""You""...",running,2021-08-02 09:56:38,61975
7133,g79e9e26e4aa3,31,"{""id"":""g79e9e26e4aa3"",""players"":[{""name"":""You""...",running,2021-08-02 09:56:50,62912
7134,g79e9e26e4aa3,32,"{""id"":""g79e9e26e4aa3"",""players"":[{""name"":""You""...",running,2021-08-02 09:56:55,63185
7135,g79e9e26e4aa3,33,"{""id"":""g79e9e26e4aa3"",""players"":[{""name"":""You""...",running,2021-08-02 09:57:19,63774

In [49]:
# pd.json_normalize(df.iloc[0,2]).reset_index(drop=True)
df2 = df[df['status']=='finished'].tail()

In [33]:
test_df = df[df['game_id'] == 'g32498849988e']
with open('preview.json', 'w') as f:
    # for i in range(test_df.shape[0]):
    json.dump(test_df.iloc[0,2], f)
with open('preview2.json', 'w') as f:
    # for i in range(test_df.shape[0]):
    json.dump(test_df.iloc[1,2], f)
# df[df['game_id'] == 'g32498849988e']

In [50]:
df['size'] = df.game.str.len()
df[df['status']=='finished'].sort_values(['game_id','save_id']).tail()

,game_id,save_id,game,status,createtime,size
1034,gffc45ff9112d,262,"{""id"":""gffc45ff9112d"",""players"":[{""name"":""yfis...",finished,2021-07-01 22:57:02,225191
1783,gffd6db588e3f,0,"{""id"":""gffd6db588e3f"",""players"":[{""name"":""雪风号""...",finished,2021-07-15 13:52:30,69570
1787,gffd6db588e3f,154,"{""id"":""gffd6db588e3f"",""players"":[{""name"":""雪风号""...",finished,2021-07-15 15:25:23,198620
1090,gfff99808bf0d,0,"{""id"":""gfff99808bf0d"",""players"":[{""name"":""伊"",""...",finished,2021-07-02 22:17:24,67274
1103,gfff99808bf0d,232,"{""id"":""gfff99808bf0d"",""players"":[{""name"":""伊"",""...",finished,2021-07-03 01:17:15,258069

In [22]:
def flatten_json(nested_json, exclude=['']):
    """Flatten json object with nested keys into a single level.
        Args:
            nested_json: A nested json object.
            exclude: Keys to exclude from output.
        Returns:
            The flattened json object if successful, None otherwise.
    """
    out = {}

    def flatten(x, name='', exclude=exclude):
        if type(x) is dict:
            for a in x:
                if a not in exclude: flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(nested_json)
    return out

In [ ]:
df.iloc[0,2]

In [97]:
false = False
true = True
player_df_new = df2['game'].apply(lambda x:eval(x))

In [123]:
player_df_new

6950    {'id': 'gb53baf3212e3', 'players': [{'name': '...
7020    {'id': 'g32498849988e', 'players': [{'name': '...
7068    {'id': 'gd4c2a4f2bbf3', 'players': [{'name': '...
7083    {'id': 'gb53baf3212e3', 'players': [{'name': '...
7089    {'id': 'g3855ccb42bec', 'players': [{'name': '...
Name: game, dtype: object

In [120]:
# pd.json_normalize(player_df_new,record_path=['players'],meta=['id'])

# mid = pd.json_normalize(player_df_new,record_path=['players'])
mid = pd.json_normalize(player_df_new)['players']
# pd.json_normalize(mid['players'],record_path=['playedCards'],meta=['name',['_game','id']], record_prefix='*')
# pd.json_normalize(mid['players'],record_path=['playedCards'])

In [133]:
mid

0    [{'name': 'You', 'color': 'red', 'beginner': F...
1    [{'name': '米饭', 'color': 'red', 'beginner': Fa...
2    [{'name': 'You', 'color': 'red', 'beginner': F...
3    [{'name': 'You', 'color': 'red', 'beginner': F...
4    [{'name': 'You', 'color': 'red', 'beginner': F...
Name: players, dtype: object

In [134]:
mid = mid.tail(1)

In [139]:
mid.iloc[0]

[{'name': 'You',
  'color': 'red',
  'beginner': False,
  'handicap': 0,
  '_game': {'id': 'g3855ccb42bec'},
  'corpCard': {'name': 'Saturn Systems'},
  'pickedCorporationCard': {'name': 'Saturn Systems'},
  'terraformRating': 56,
  'hasIncreasedTerraformRatingThisGeneration': True,
  'terraformRatingAtGenerationStart': 14,
  'megaCredits': 63,
  'megaCreditProduction': 7,
  'steel': 4,
  'steelProduction': 4,
  'titanium': 1,
  'titaniumProduction': 1,
  'plants': 3,
  'plantProduction': 11,
  'energy': 3,
  'energyProduction': 3,
  'heat': 15,
  'heatProduction': 13,
  'titaniumValue': 3,
  'steelValue': 2,
  'canUseHeatAsMegaCredits': False,
  'actionsTakenThisRound': 0,
  'actionsThisGeneration': [],
  'undoing': False,
  'exited': False,
  'canExit': False,
  'corpInitialActionDone': False,
  'corp2InitialActionDone': False,
  'dealtCorporationCards': [],
  'dealtProjectCards': [],
  'dealtPreludeCards': [],
  'cardsInHand': [{'resourceCount': 0, 'name': 'Martian Zoo'},
   {'resourceCount': 0, 'name': 'Search For Life'},
   {'name': 'Rego Plastics'},
   {'name': 'Gene Repair'},
   {'name': 'Advertising'}],
  'preludeCardsInHand': [],
  'playedCards': [{'name': 'Mohole Excavation'},
   {'name': 'Business Empire'},
   {'resourceCount': 0, 'name': 'Regolith Eaters'},
   {'name': 'Convoy From Europa'},
   {'name': 'Subterranean Reservoir'},
   {'name': 'Lichen'},
   {'name': 'Mohole Area'},
   {'name': 'Trade Envoys'},
   {'name': 'Deep Well Heating'},
   {'name': 'Peroxide Power'},
   {'name': 'Lunar Beam'},
   {'name': 'Acquired Company'},
   {'name': 'Lava Flows'},
   {'bonusResource': 'steel', 'name': 'Mining Area'},
   {'name': 'Ironworks'},
   {'name': 'Heather'},
   {'name': 'Fueled Generators'},
   {'name': 'Lunar Exports'},
   {'name': 'Carbonate Processing'},
   {'name': 'Standard Technology'},
   {'name': 'Artificial Lake'},
   {'name': 'Trees'},
   {'name': 'Protected Valley'},
   {'name': 'Underground City'},
   {'name': 'Algae'},
   {'name': 'Sub-Crust Measurements'},
   {'name': 'Galilean Waystation'},
   {'name': 'Worms'}],
  'draftedCards': [],
  'cardCost': 3,
  'cardDiscount': 0,
  'timer': {'sumElapsed': 1430484,
   'startedAt': 1627868526517,
   'running': False,
   'afterFirstAction': True,
   'lastStoppedAt': 1627868527001},
  'fleetSize': 1,
  'tradesThisGeneration': 0,
  'colonyTradeOffset': 1,
  'colonyTradeDiscount': 0,
  'colonyVictoryPoints': 0,
  'turmoilPolicyActionUsed': False,
  'politicalAgendasActionUsedCount': 0,
  'oceanBonus': 2,
  'scienceTagCount': 0,
  'hasTurmoilScienceTagBonus': False,
  'plantsNeededForGreenery': 8,
  'heatForTemperature': 8,
  'removingPlayers': [],
  'removedFromPlayCards': [],
  'heatProductionStepsIncreasedThisGeneration': 0,
  'id': 'p78988c7af87e'}]

In [140]:
pd.json_normalize(mid.iloc[0])

,name,color,beginner,handicap,terraformRating,hasIncreasedTerraformRatingThisGeneration,terraformRatingAtGenerationStart,megaCredits,megaCreditProduction,steel,...,heatProductionStepsIncreasedThisGeneration,id,_game.id,corpCard.name,pickedCorporationCard.name,timer.sumElapsed,timer.startedAt,timer.running,timer.afterFirstAction,timer.lastStoppedAt
0,You,red,False,0,56,True,14,63,7,4,...,0,p78988c7af87e,g3855ccb42bec,Saturn Systems,Saturn Systems,1430484,1627868526517,False,True,1627868527001

In [141]:
pd.json_normalize(mid.iloc[0],record_path=['playedCards'])

                      name  resourceCount bonusResource
0        Mohole Excavation            NaN           NaN
1          Business Empire            NaN           NaN
2          Regolith Eaters            0.0           NaN
3       Convoy From Europa            NaN           NaN
4   Subterranean Reservoir            NaN           NaN
5                   Lichen            NaN           NaN
6              Mohole Area            NaN           NaN
7             Trade Envoys            NaN           NaN
8        Deep Well Heating            NaN           NaN
9           Peroxide Power            NaN           NaN
10              Lunar Beam            NaN           NaN
11        Acquired Company            NaN           NaN
12              Lava Flows            NaN           NaN
13             Mining Area            NaN         steel
14               Ironworks            NaN           NaN
15                 Heather            NaN           NaN
16       Fueled Generators            NaN           NaN
17           Lunar Exports            NaN           NaN
18    Carbonate Processing            NaN           NaN
19     Standard Technology            NaN           NaN
20         Artificial Lake            NaN           NaN
21                   Trees            NaN           NaN
22        Protected Valley            NaN           NaN
23        Underground City            NaN           NaN
24                   Algae            NaN           NaN
25  Sub-Crust Measurements            NaN           NaN
26     Galilean Waystation            NaN           NaN
27                   Worms            NaN           NaN

In [64]:
false = False
true = True
player_df_pre = df2['game'].apply(lambda x:eval(x))
# print(player_idx)
player_df = pd.json_normalize(player_df_pre).reset_index(drop=True)
player_df = player_df.loc[:,['id', 'players']]
# pd.DataFrame([flatten_json(x) for x in eval(df.iloc[0,2])])

In [67]:
# player_df['players'] = player_df['players'].apply(lambda x:eval(x))
player_df2 = player_df.explode('players')
# player_df3a = player_df2['players'].apply(lambda x:eval(x))
# print(player_idx)
player_df3 = pd.json_normalize(player_df2).reset_index(drop=True)

In [91]:
# player_df2['players'] = eval(player_df2['players'])
player_df2['players']

0    {'name': 'You', 'color': 'red', 'beginner': Fa...
1    {'name': '米饭', 'color': 'red', 'beginner': Fal...
1    {'name': '小麦', 'color': 'green', 'beginner': F...
2    {'name': 'You', 'color': 'red', 'beginner': Fa...
3    {'name': 'You', 'color': 'red', 'beginner': Fa...
4    {'name': 'You', 'color': 'red', 'beginner': Fa...
Name: players, dtype: object

In [89]:
player_df2['players'] = player_df2['players'].astype(str).apply(lambda x:eval(x))

In [93]:
player_df3 = pd.json_normalize(player_df2['players'])[:,'']

,name,color,beginner,handicap,terraformRating,hasIncreasedTerraformRatingThisGeneration,terraformRatingAtGenerationStart,megaCredits,megaCreditProduction,steel,...,waitingFor.options,userId,corpCard.name,pickedCorporationCard.name,corpCard.tags,corpCard.startingMegaCredits,corpCard.cardType,pickedCorporationCard.tags,pickedCorporationCard.startingMegaCredits,pickedCorporationCard.cardType
0,You,red,False,0,14,False,14,0,0,0,...,"[{'title': 'Select corporation', 'buttonLabel'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,米饭,red,False,0,33,True,20,58,21,1,...,NaN,d484c04d1ffb,Valley Trust (breakthrough),Valley Trust (breakthrough),NaN,NaN,NaN,NaN,NaN,NaN
2,小麦,green,False,0,52,True,20,71,15,0,...,NaN,dfc7613bd132,Interplanetary Cinematics (breakthrough),Interplanetary Cinematics (breakthrough),[building],50.0,corporation,[building],50.0,corporation
3,You,red,False,0,62,True,14,82,7,12,...,NaN,NaN,EcoLine,EcoLine,NaN,NaN,NaN,NaN,NaN,NaN
4,You,red,False,0,37,True,14,56,11,12,...,NaN,NaN,CrediCor,CrediCor,NaN,NaN,NaN,NaN,NaN,NaN
5,You,red,False,0,56,True,14,63,7,4,...,NaN,NaN,Saturn Systems,Saturn Systems,NaN,NaN,NaN,NaN,NaN,NaN